* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.gcode linguist-generated=true
*.gco linguist-generated=true
*.gcnc linguist-generated=true
*.ngc linguist-generated=true
*.log linguist-generated=true
